@font-face {
    font-family: 'George1';
    src: url('https://raw.githubusercontent.com/nebrelbug/htmlninja/master/George1Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
