@font-face {
    font-family: 'George1';
    src: url('https://raw.githack.com/nebrelbug/htmlninja/master/George1Medium.woff2?raw=true') format('woff2');
    font-weight: 500;
    font-style: normal;
}
