body {
    
}

#character {
    position: relative;
    background: rgb(0,0,0);
    color: rgb(0,0,0);
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
}

p {
    color: rgb(255,255,255);
}
