body {
    background: rgb(0,0,0);
}

#character {
    position: relative;
    background: rgb(255,255,255);
    color: rgb(255,255,255);
    left: 0;
    top: 0;
    width: 30;
    height: 30;
}

p {
    color: rgb(255,255,255);
}
